# Phân tích dữ liệu cùng với bộ dữ liệu Titanic

![Image](images/titanic.jpeg)

Được mệnh danh là "Vị vua của Đại Tây Dương", Titanic không chỉ là biểu tượng của sự xa xỉ và công nghệ tiên tiến thời đó, mà còn gắn liền với một bi kịch chưa từng có trong lịch sử hàng hải.

Titanic được đặt ra hạ thủy vào năm 1911 và khởi hành trên hành trình đầu tiên từ Southampton, Anh đến New York, Mỹ vào ngày 10 tháng 4 năm 1912. Với bề dày 269 mét, trọng lượng 52,310 tấn và chứa đựng hơn 2,200 hành khách cùng thủy thủ đoàn, Titanic khi đó là con tàu lớn nhất và xa xỉ nhất thế giới. Tuy nhiên, một bi kịch không lường trước đã xảy ra khi con tàu này va chạm với một tảng băng trôi lớn vào ngày 14 tháng 4 năm 1912 và chìm xuống Đại Tây Dương sau đó chỉ 2 giờ 40 phút.

## Nhập các thư viện cần thiết

In [1]:
# Nhập thư viện Pandas để phân tích dữ liệu
import pandas as pd

In [2]:
# Nhập thư viện Matplotlib và Seaborn để trực quan hóa dữ liệu
import matplotlib.pyplot as plt
import seaborn as sns

## Nhập bộ dataset Titanic

Documentation cho lệnh pd.read_csv(): https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [1]:
# Nhập bộ dataset Titanic trong folder data có tên là 'titanic.csv'

## Xử lý bộ dataset Titanic

Documentation cho lệnh head(): https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html

In [2]:
# In 5 hàng đầu tiên của bộ dữ liệu

Documentation cho lệnh drop(): https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html

In [3]:
# Xóa đi cột Unnamed: 0

## Tìm hiểu về bộ dữ liệu Titanic

In [4]:
# In 10 hàng đầu tiên của bộ dữ liệu

Documentation cho thuộc tính .shape: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.shape.html

In [5]:
# In số hàng, số cột của bộ dữ liệu

### Ý nghĩa của các cột

Sau đây là ý nghĩa của các cột trong dataset:
- PassengerId: Số thứ tự của từng hành khách.
- Survived: Hành khác có sống sót hay không (1 = sống sót, 0 = không sống sót).
- Pclass: Hạng vé của hành khách, phản ánh tầng lớp kinh tế-xã hội của hành khách đó (social-economic status).
    - 1: Hạng vé thấp.
    - 2: Hạng vé trung bình.
    - 3: Hạng vé cao cấp.
- Name: Tên hành khách (Họ, Tên).
- Sex: Giới tính của hành khách.
    - male: nam.
    - female: nữ.
- Age: Tuổi của hành khách.
- SibSp: Số anh/chị/em hoặc vợ/chồng có trên tàu Titanic.
- Parch: Số cha/mẹ hoặc con trên có trên tàu Titanic.
- Ticket: Số vé của hành khách.
- Fare: Giá vé của hành khách.
- Cabin: Số cabin của hành khách.
- Embarked: Điểm lên tàu của hành khách.
    - C = Cherbourg.
    - Q = Queenstown.
    - S = Southampton.

## Những giá trị bị thiếu

Documentation của lệnh isna(): https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isna.html

In [6]:
# In ra các giá trị bị thiếu của từng cột

Documentation của lệnh info(): https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html

In [8]:
# Cách khác (dùng lệnh info())

## Tìm hiểu về tên của từng hành khách

Documentation cho lệnh apply(): https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html

In [82]:
# Tạo một cột mới chứa họ của các hành khách

# Dùng lệnh apply để tạo một cột mới

In [89]:
# Dùng lệnh apply để tạo cột chức danh

# Dùng lệnh apply để tạo một cột mới

In [9]:
# In dataset

In [10]:
# In ra 10 Họ phổ biến nhất

Documentation cho lệnh barplot(): https://seaborn.pydata.org/generated/seaborn.barplot.html

In [11]:
# In biểu đồ 10 họ phổ biến nhất

Nguồn gốc của các họ:
- Andersson: Sweden (Thụy Điển), Finland (Phần Lan), Norway (Na Uy).
- Asplund: Sweden (Thụy Điển), Norway (Na Uy).
- Fortune: Từ vùng đất Fortune ở phía Đông Lothian, là một vùng của Vùng đất thấp Scotland.

## Tìm hiểu về hạng của hành khách

Documentation cho lệnh countplot(): https://seaborn.pydata.org/generated/seaborn.countplot.html

In [12]:
# Vẽ biểu đồ phân phối hạng của hành khách

In [13]:
# In số đếm từng hành khách

Hành khách trên tàu được chia thành ba hạng riêng biệt theo giá vé của họ: 

- Pclass = 1 - Những người đi khoang hạng nhất, hầu hết là những hành khách giàu có nhất trên tàu, bao gồm các thành viên nổi bật của tầng lớp thượng lưu, doanh nhân, chính trị gia, quân nhân cấp cao, các nhà công nghiệp, chủ ngân hàng, nghệ sĩ giải trí, xã hội và vận động viên chuyên nghiệp.
<br ><br >
- Pclass = 2 - Hành khách hạng hai chủ yếu là du khách thuộc tầng lớp trung lưu và bao gồm các giáo sư, tác giả, giáo sĩ và khách du lịch. 
<br ><br >
- Pclass = 3 - Hành khách hạng ba chủ yếu là những người nhập cư đến Hoa Kỳ và Canada.

## Tìm hiểu về giới tính của hành khách

In [14]:
# In số đếm từng hành khách

Documentation cho lệnh countplot(): https://seaborn.pydata.org/generated/seaborn.countplot.html

In [15]:
# Vẽ biểu đồ kết hợp giới tính và thứ hạng của từng hành khách

## Tìm hiểu về tuổi của từng hành khách

Documentation cho lệnh catplot(): https://seaborn.pydata.org/generated/seaborn.catplot.html

In [16]:
# Vẽ biểu đồ phân phối tuổi của các hành khách

## Tìm hiểu về hành khách sống sót

In [17]:
# Tỷ lệ hành khách sống sót

In [18]:
# Tỷ lệ sống só theo giới tính

In [19]:
# Số hành khách sống sót theo lứa tuổi
# Thêm cột nhóm tuổi tuổi
    
# Thêm cột nhóm tuổi bằng lệnh apply

# In tập dataset

In [20]:
# Tỷ lệ sống sót theo nhóm tuổi

In [21]:
# Số hành khác sống sót theo nhóm tuổi